button {
  height: 40px;
  width: 80px;
  border-radius: 5px !important;
  border: 0;
  background-color: rgb(71, 218, 255);
  cursor: pointer;
  font-weight: bolder;
  color: white;
  position: relative;
  left: 74%;

}
