.listHeader{
    background-color: rgb(221, 221, 221);
    padding-bottom: 15px;
    -webkit-box-shadow: 0.5px 3px 2px 1px rgb(204, 181, 181);
    -moz-box-shadow:    0.5px 3px 2px 1px rgb(204, 181, 181);
    box-shadow:         0.5px 3px 2px 1px rgb(199, 198, 198);
}