body {
  background-color: rgb(123, 229, 255) !important;
  background-image: linear-gradient(rgb(123, 229, 255), rgb(85, 1, 220) );
  height: 100%;
}
input:focus {
  outline: none !important;
}
button:focus {
  outline: none !important;
}
