.containerr {
  background-color: white;
  min-height: 450px;
  width: 400px;
  margin: 40px auto;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 5px 6px rgb(24, 155, 179);
  -moz-box-shadow:    3px 3px 5px 6px rgb(24, 155, 179);
  box-shadow:         3px 3px 5px 6px rgb(24, 155, 179);
  padding-bottom: 10px;
}

